@charset "utf-8";
@import url(reset.css);

.clearfix::after{content:""; display:block; clear:both;}
li{float:left;}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.box1 {
    height: 400px;
    background-color: #cb7676;
}

section {
    flex: 1;
}
.content {
    height: 100%;
    /* background-color: aquamarine; */
}
.content {
    position: relative;
    padding-bottom: 150px;
}
.content_wrap {
    width: 1240px;
    height: 100px;
    /* background-color:rgb(239, 145, 23); */
    margin: 0 auto;
}

.content_wrap > ul > li {
    width: 280px;
    height: 400px;
    margin-left: 40px;
    margin-top: 40px;
    /* background-color: aqua; */
}
.content_wrap li:nth-child(4n+1){margin-left:0;}

.content_wrap > ul > li > div > img {
    width: 280px;
    /* height: 340px; */
    margin: 0 auto;
    /* border: 1.5px solid #FFD755; */
    /* background-color: blueviolet; */
}
.games{
    cursor: pointer;
}

.game_name, .game_name_en {
    width: 280px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    /* line-height: 30px; */
    /* background-color: blue; */
}
.game_name_en {
    margin-top: -10px;
    font-weight: 400;
}


.game_inner {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: #FFD755;
}
.game_right {
    width: 580px;
    height: 580px;
    float: left;
}

/* click */
.game_details {
    display: none;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    align-items: center;
}

.game_info {
    display: flex;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.game_info img {
    width: 300px;
    height: 400px;
    margin-right: 20px;
}

.game_info .info {
    max-width: 500px;
}
#game_time {
    color:aqua;
}

.left {
    float:left;
}

#game-difficulty {
    margin-right: 40px;
}



/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #FFD755;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}
.footer_wrap {
    margin-top: 50px;
}
.footer_wrap ul li{
    /* line-height: 150px; */
}
.footer_wrap ul li:nth-child(1) {
    margin: 35px;
}
.footer_wrap ul li:nth-child(2) {
    margin-top: 110px;
    margin-left: 450px;
    font-family: "Noto Sans KR", sans-serif;
    /* font-weight: 700; */
    font-style: normal;
    text-align: center;
}
.footer_wrap ul li:nth-child(3) {
    margin-left: 30px;
    margin-top: 105px;
}
.footer_wrap ul li:nth-child(3) a img {
    width: 30px;
}
.footer_wrap ul li:nth-child(4) {
    margin-left: 10px;
    margin-top: 105px;
}
.footer_wrap ul li:nth-child(4) a img {
    width: 30px;
}

