@charset "utf-8";
@import url(reset.css);

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {  
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    width: 100%;
    height: 100px;
    margin-bottom: 25px;
    background-color: beige;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header_left h1 a {
    cursor: pointer;
}

.header_right form {
    width: 40vw;
    position: relative;
}

.header_right form input {
    width: 90%;
    height: 25px;
    margin-right: 1em;
    border: 1px solid #FFD755;
    border-radius: 10px;
    outline: none;
}

.header_right form img {
    position: absolute;
    top: 8px;
    right: 1.8em;
    width: 15px;
}

main {
    flex: 1;
}

/* search */
.select {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: calc(90% - 10px);
    height: 100px;
    padding: 10px;
    background-color: #ffd75552;
    font-family: "Noto Sans KR", sans-serif;
  }
  .select_people{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.select_people span {
    font-weight: bold;
}

.select_people .people_count {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
}

.select_people .people_count:hover {
    background-color: #FFD755;
}

.select_second {
    display: flex;
    flex-direction: column;
}

.select_level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 95%;
}

.select_level span {
    font-weight: bold;
}

.select_level .level {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.select_level .level:hover {
    background-color: #FFD755;
}

.select_genre {
    display: flex;
    align-items: center;
}

.select_genre label {
    margin-right: 2em;
    font-weight: bold;
}

.select_genre select {
    width: 25%;
    text-align: center;
}


/* games */
.games {
    padding: 0 100px;
}

.game-row {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Noto Sans KR", sans-serif;
}

.game-card {
    text-align: center;
    cursor: pointer;
}

.game-card img {
    width: 300px;
}

.game-card p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    font-family: "Noto Sans KR", sans-serif;
}

.game-card p span {
    font-size: 18px;
    line-height: 27px;
    font-family: "Noto Sans KR", sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

.game-details {
    width: 100%;
    height: 500px;
    display: none;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px; */
    background-color: #fff7dd;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
}

.game-info {
    display: flex;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.game-info img {
    width: 300px;
    height: 100%;
    margin-left: -100px;
}

.close-btn {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 1200px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-btn img {
    width: 40px;
}

.left {
    float: left;
}

.info {
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 100px;
}

.info h1 {
    font-size: 34px;
    font-weight: 600;
}

.info h1 span {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFD755;
}

.info p:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.info p:nth-child(3), .info p:nth-child(4), .info p:nth-child(5) {
    font-size: 20px;
    margin: 20px;
    margin-right: 10px;
}

.info p strong {
    font-size: 22px;
    font-weight: 600;
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #FFD755;
}

.footer_wrap {
    margin-top: 50px;
}

.footer_wrap ul li {
    float: left;
}

.footer_wrap ul li:nth-child(1) {
    margin: 35px;
    /* line-height: 100px; */
}

.footer_wrap ul li:nth-child(2) {
    margin-top: 110px;
    margin-left: 430px;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}

.footer_wrap ul li:nth-child(3) {
    margin-left: 20px;
    margin-top: 105px;
}

.footer_wrap ul li:nth-child(3) a img {
    width: 30px;
}

.footer_wrap ul li:nth-child(4) {
    margin-left: 10px;
    margin-top: 105px;
}

.footer_wrap ul li:nth-child(4) a img {
    width: 30px;
}


@media screen and (min-width: 500px) {

    .header_right form img {
        right: 2.5em;
    }

    .select_people .people_count {
        width: 10%;
    }

    .select_second {
        margin-top: 10px;
        flex-direction: row;
    }

    .select_level {
        width: 55%;
        max-width: 350px;
        margin: 0;
        margin-right: 2em;
    }

    .select_genre {
        width: 35%;
    }

    .select_genre label {
        margin-right: 1.5em;
    }

    .select_genre select {
        width: 60%;
        max-width: 150px;
    }
}


@media screen and (min-width: 768px) {

    .header_left {
        margin-left: 2em;
    }

    .header_right form {
        width: 30vw;
    }

    .header_right form input {
        height: 30px;
        margin-right: 2em;

    }

    .header_right form img {
        right: 2.5em;
        width: 20px;
    }

    .select_wrap {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .header_right form {
        width: 40vw;
    }

    .header_right form img {
        right: 3.5em;
    }
}