/*  mobile*/

header{
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  background-color: beige;
}
.header_wrap{
  display: flex;
  justify-content: space-between;
}
.header_left{
 margin-left: 5%;
 margin-top: 10px;
}

.header_right{
  width: 30%;
  margin-right: 3%;
}
.header_right form{}
.header_right form input{
  width: 100%;
  height: 25px;
  margin-top: 30px;
  border: 1px solid #FFD755;
  border-radius: 10px;
}


.select{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  width: calc(90% - 10px);
  height: 100px;
  padding: 10px;
  background-color: #ffd75552;
}
.select_people{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.select_people span{
  margin-top: 5px;
  font-weight: bold;
}
.select_people .people_count{
  width: 10%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.select_second{
  display: flex;
  /* flex-wrap: flex-start;
  flex-wrap: wrap;
  align-content: flex-start; */
  width: 100%;
}

.select_level{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 20px;
  margin-right: 5px;
}
.select_level span{
  margin-top: 5px;
  font-weight: bold;
}
.select_level .level{
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.select_genre{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
}
.select_genre label{
  margin-top: 5px;
  font-weight: bold;
}
.select_genre select{
  width: 50%;
  text-align: center;
}
